@font-face {
  font-family: 'roboto';
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'open-sans';
  src: url('../font/OpenSans-Regular.ttf');
}

:root {
  @brand_color:  #5db442;
}
  .heading {
  font-size: 45px;
  color: black;
  font-family: 'roboto';
}
p {
  font-size:10px;
  margin: 0;
  color: rgb(119, 119, 119);
}